body {
    margin: 0;
    font-family: "Whitney", Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    color: #c8c8c8;
    background-color: #272b30;
}

a {
    text-decoration: none;
    color: #b4b4b4;
}

a.slow-trans {
    transition: .2s;
}

a:hover {
    color: white;
}

.breadcrumbs span {
    color: #a2a2a2;
}

.breadcrumbs a {
    color: #919191;
}

.breadcrumbs a.active {
    color: #b4b4b4;
}

.breadcrumbs a:hover {
    color: #b4b4b4;
}

.site-message {
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

nav.main-nav {
    background-color: #23262b;
    min-height: 64px;
}

nav.main-nav .nav-content {
    display: flex;
    flex-direction: row;
}

nav.main-nav .nav-content img {
    max-height: 64px;
}

nav.main-nav .nav-content .nav-item {
    text-align: center;
    line-height: 64px;
    padding: 0 14px;
    margin: 0 5px;
}

nav.main-nav .nav-content .nav-item:hover {
    color: white;
}

nav.main-nav .nav-content .nav-item.active {
    color: white;
    background-color: #181b1e;
}

nav.main-nav .nav-content .nav-item.right {
    margin-left: auto;
}

nav.main-nav .nav-content .nav-item .fas {
    line-height: 64px;
}

nav.main-nav .nav-content .nav-profile {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    line-height: 40px;
    height: 100%;
}

nav.main-nav .nav-content .nav-profile img {
    max-height: 32px;
    margin: auto;
    border-radius: 5px;
}

nav.main-nav .nav-content .nav-profile span {
    margin: auto;
    /* border-radius: 0 5px 5px 0; */
    padding: 0 5px;
    width: fit-content;
    color: #c8c8c8;
    /* background-color: #181b1e; */
}

nav.main-nav .nav-content .nav-profile:hover span {
    color: white;
}

nav.main-nav .nav-content .dropdown:hover .dropdown-content {
    display: flex;
}

nav.main-nav .nav-content .dropdown .dropdown-content {
    position: absolute;
    z-index: 9999;
    display: none;
    flex-direction: column;
    min-width: 130px;
    background-color: #23262b;
}

nav.main-nav .nav-content .dropdown .dropdown-content a {
    max-height: 16px;
    line-height: normal;
    padding: 5px;
}

nav.main-nav .nav-content .dropdown .dropdown-content a:hover {
    color: white;
    background-color: black;
}

.content-box {
    background-color: #23262b;
    padding: 10px 24px;
    margin: 10px 0;
}

main {
    min-height: calc(100vh - 128px);
}

footer {
    margin: 0;
    background-color: #181B1D;
}

footer .social {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

footer .social .media-list {    
    display: inline-flex;
    height: 64px;
    margin-left: 25px;
    padding-left: 25px;
    vertical-align: middle;
    border-left: 1px solid #5b5e60;
}

footer .social .media-list a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
}

footer .social .media-list a:not(:last-child) {
    margin-right: 15px;
}

footer .social .media-list a span {
    line-height: 64px;
}

footer .copyright {
    padding-bottom: 15px;
    color: #9d9d9d;
}