body {
    margin: 0;
    font-family: "Whitney", Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    color: #c8c8c8;
    background-color: #272b30;
}

h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #b4b4b4;
}

a.slow-trans {
    transition: .2s;
}

a:hover {
    color: white;
}

.breadcrumbs span {
    color: #a2a2a2;
}

.breadcrumbs a {
    color: #919191;
}

.breadcrumbs a.active {
    color: #b4b4b4;
}

.breadcrumbs a:hover {
    color: #b4b4b4;
}

.site-message {
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

nav.main-nav {
    background-color: #23262b;
    min-height: 64px;
}

nav.main-nav .nav-content {
    display: flex;
    flex-direction: row;
}

nav.main-nav .nav-content img {
    max-height: 64px;
}

nav.main-nav .nav-content .nav-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-content: center;
}

nav.main-nav .nav-content .nav-item {
    text-align: center;
    line-height: 64px;
    padding: 0 14px;
    margin: 0 5px;
}

nav.main-nav .nav-content .nav-item:hover {
    color: white;
}

nav.main-nav .nav-content .nav-item.active {
    color: white;
    /* background-color: #181b1e; */
}

nav.main-nav .nav-content .nav-item.right {
    margin-left: auto;
}

nav.main-nav .nav-content .nav-item .fas {
    line-height: 64px;
}

nav.main-nav .nav-content .nav-profile {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    line-height: 40px;
    height: 100%;
}

nav.main-nav .nav-content .nav-profile img {
    max-height: 32px;
    margin: auto;
    border-radius: 5px;
}

nav.main-nav .nav-content .nav-profile span {
    margin: auto;
    /* border-radius: 0 5px 5px 0; */
    padding: 0 5px;
    width: fit-content;
    color: #c8c8c8;
    /* background-color: #181b1e; */
}

nav.main-nav .nav-content .nav-profile:hover span {
    color: white;
}

nav.main-nav .nav-content .dropdown:hover .dropdown-content {
    display: flex;
}

nav.main-nav .nav-content .dropdown .dropdown-content {
    position: absolute;
    z-index: 9999;
    display: none;
    flex-direction: column;
    min-width: 130px;
    background-color: #23262b;
}

nav.main-nav .nav-content .dropdown .dropdown-content a {
    max-height: 16px;
    line-height: normal;
    padding: 5px;
    text-align: left;
}

nav.main-nav .nav-content .dropdown .dropdown-content a:hover {
    color: white;
    background-color: black;
}

.content-box {
    background-color: #23262b;
    padding: 24px;
    margin: 10px 0;
}

main {
    min-height: calc(100vh - 128px);
}

.flex-grid {
    display: flex;
    flex-direction: row;
}

.flex-grid .main-body {
    flex-grow: 2;
}

.flex-grid .flex-item:not(:last-child) {
    padding-right: 15px;
}

.side-bar {
    min-width: 25%;
    max-width: 25%;
}

.side-bar .sidebar-footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(245, 245, 245, .1);
}

.forum-section {
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #1e1e1e;
}

.forum-section .forum-header {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 15px;
    background-color: #304d66;
}

.forum-section .forum-content {
    list-style: none;
}

.forum-section .forum-content .empty-text {
    text-align: center;
    padding: 15px;
    font-weight: normal;
}

.forum-section .forum-content .forum-item {
    display: flex;
    flex-direction: row;
    height: 64px;
}

.forum-section .forum-content .forum-item .item-section.icon {
    padding: 15px 10px 15px 20px;
}

.forum-section .forum-content .forum-item .item-section.main {
    padding: 15px 10px;
    line-height: 32px;
    width: 40%;
    margin-right: auto;
}

.forum-section .forum-content .forum-item .item-section.main.section {
    line-height: normal;
}

.forum-section .forum-content .forum-item .item-section.main a {
    color: #c8c8c8;
}

.forum-section .forum-content .forum-item .item-section.main a:hover {
    color: white;
}

.forum-section .forum-content .forum-item .item-section.stats, .forum-section .forum-content .forum-item .item-section.last-post {
    padding: 15px 10px;
    text-align: center;
    max-width: 75px;
}

.forum-section .forum-content .forum-item .item-section.main.section dd, .forum-section .forum-content .forum-item .item-section.stats dd, .forum-section .forum-content .forum-item .item-section.last-post dd {
    opacity: 0.6;
}

.forum-section .forum-content .forum-item .item-section.main.section dd, .forum-section .forum-content .forum-item .item-section.stats dd {
    font-size: 12px;
}

.forum-section .forum-content .forum-item .item-section.last-post {
    text-align: left;
    min-width: 200px;
}

.forum-section .forum-content .forum-item .item-section.last-post .last-post-card {
    display: inline-flex;
}

.forum-section .forum-content .forum-item .item-section.last-post img {
    margin-right: 10px;
    border-radius: 25px;
    height: 32px;
    width: 32px;
    opacity: 0.9;
}

.forum-section .forum-content .forum-item .item-section.last-post a:hover img {
    opacity: 1;
}

.forum-section .forum-content .forum-item .item-section.last-post dt {
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.forum-section .forum-content .forum-item .item-section.last-post dd {
    font-size: 12px;
}

.forum-section .forum-content .forum-item .item-section.last-post p {
    display: inline-block;
    width: 100%;
    opacity: 0.6;
    font-size: 12px;
    line-height: 32px;
}

.icon .icon-circle {
    display: inline-block;
    height: 32px;
    width: 32px;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
    background-color: #353c41;
}

.icon .icon-circle .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: 32px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

footer {
    margin: 0;
    background-color: #181B1D;
}

footer .social {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

footer .social .media-list {    
    display: inline-flex;
    height: 64px;
    margin-left: 25px;
    padding-left: 25px;
    vertical-align: middle;
    border-left: 1px solid #5b5e60;
}

footer .social .media-list a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
}

footer .social .media-list a:not(:last-child) {
    margin-right: 15px;
}

footer .social .media-list a span {
    line-height: 64px;
}

footer .copyright {
    padding-bottom: 15px;
    color: #9d9d9d;
}